* {
    box-sizing: border-box;
    font-family: 'Anybody', cursive;
    letter-spacing: .05rem;
    margin: 0;
    padding: 0;
}

header,
.nav-sm-screen {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header div img {
    margin-inline: .3rem;
    transform: translateY(.1rem);
    width: 1rem;
}

header .header-contact {
    background: #2a373e;
    color: #fff;
    display: flex;
    font-size: smaller;
    justify-content: space-between; 
}

header .header-contact div:first-child {
    background: #ffa500;
    padding: 1rem 2rem 1rem 6rem;
}

header .header-contact div:last-child {
    align-self: center;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav div:first-child,
header nav div:last-child {
    align-self: center;
}

header nav div:last-child {
    border: 2px solid #111;
    padding: .5rem 2rem;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    padding: 1rem 1.7rem;
}

nav {
    background-color: #fff;
}

.nav-sm-screen { 
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.nav-sm-screen div img {
    width: 3rem;
}

section:not(section:first-of-type) {
    padding: 1rem;
}

section.sec-1-wrapper { 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100vw;
}

section.sec-1-wrapper .sec-1-inner {
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, .7);
    color: #eee;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
}

section.sec-1-wrapper .sec-1-inner div {
    transform: translateY(2rem);
    width: 50rem;
}

section.sec-1-wrapper .sec-1-inner div button {
    background: #ffa600d0;
    border: none; 
    color: #eee;
    margin-left: 2rem;
    padding: 1rem 1.5rem;
}

section.sec-1-wrapper .sec-1-inner div button:last-child {
    border: 2px solid #eee;
    color: #eee;
    background: unset;
    margin-left: 1rem;
}

section.sec-1-wrapper .sec-1-inner div h1 {
    font-size: 4rem;
    padding-block: 1rem;
    text-align: center;
    font-family: arial;
}

section.sec-1-wrapper .sec-1-inner div h1 span:not(section.sec-1-wrapper .sec-1-inner div h1 span:last-child) {
    color: #ffa500;
    font-family: arial;
}

section.sec-1-wrapper .sec-1-inner div h1 span:last-child {
    font-family: arial;
}

section.sec-1-wrapper .sec-1-inner ul {
    display: flex;
    margin-block: 1rem;
    flex-wrap: wrap;
}

section.sec-1-wrapper .sec-1-inner ul li {
    display: flex;
    padding: .5rem 1rem;
}

section.sec-1-wrapper .sec-1-inner ul li span {
    background: #ffa500;
    border-radius: 50%;
    height: .7rem;
    margin-inline: 1rem;
    width: .7rem;
}

.sec-2-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 1.5rem;
    text-align: center;
}

.sec-2-wrapper div {
    padding-block: 2rem;
    width: 40rem; 
}

.sec-2-wrapper div h2,
section.sec-3-wrapper div h3 big { 
    color: #2a373e; 
    font-family: arial;
}

.sec-2-wrapper div img,
section.sec-3-wrapper div .about-services div img {
    width: 4rem;
}

.sec-2-wrapper div p,.sec-3-wrapper div p {
    font-size: .9rem;
    margin-block: 2rem;
}

.sec-2-wrapper div small,
section.sec-3-wrapper div small { 
    color: #2a373e; 
    font-weight: bold;
    letter-spacing: .1rem;
}

section.sec-3-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 1.5rem;
    margin-block: 4rem;
}

section.sec-3-wrapper div {
    width: 40rem;
}

section.sec-3-wrapper div .about-services {
    display: flex;
}

section.sec-3-wrapper div .about-services,
section.sec-3-wrapper div .about-services div {
    width: unset;
}

section.sec-3-wrapper div .about-services div {
    display: flex; 
    margin-block: 1rem;
    width: 10rem;
}

section.sec-3-wrapper div .about-services div span {
    font-size: small;
    margin-left: 1rem;
}

section.sec-3-wrapper div h3 big {
    font-size: 2rem; 
}

section.sec-3-wrapper div:first-child {
    width: 23rem;
}
 
section.sec-3-wrapper div h3 { 
    border-left: 6px solid #ffa500; 
    padding-inline: 1rem;
}

section.sec-3-wrapper div img:not(section.sec-3-wrapper div .about-services div img) {
    box-shadow: 1px 2px 19px #ddd;
    width: 20rem;
}

section.sec-3-wrapper div img:last-child { 
    border: 15px solid #fff;
    transform: translate(3rem, -9rem);
}

section.sec-3-wrapper div small {
    color: #ffa500;
}

ul {
    list-style: none;
}
 
@media (min-width: 868px) {
    .nav-sm-screen {
        display: none;
    }
}

@media (max-width: 868px) {
    header {
        display: none;
    } 
}

@media (max-width: 530px) {
    section.sec-3-wrapper div .about-services { 
        flex-direction: column;
      }
}

@media (max-width: 414px) {
    section.sec-1-wrapper .sec-1-inner ul {
        font-size: small;
    }

    section.sec-1-wrapper .sec-1-inner div h1 {
        font-size: 3rem;
    }
}

@media (max-width: 392px) {
    section.sec-1-wrapper .sec-1-inner div button,
    section.sec-1-wrapper .sec-1-inner div button:last-child {
        margin: .3rem 2rem;
    }
}

@media (max-width: 316px) {
    section.sec-1-wrapper .sec-1-inner div h1 span:last-child { 
        font-size: 2rem;
    }
}